* {
  box-sizing: border-box;
}

.body{
  margin: 0;
  padding: 0;
}


.calc{
  width: 400px;
  background-color: black;  
  color: white;
}

.screen{
  font-size: 3rem;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 400px;
  height: 100px;
}

.calc-row{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 400px;
  height: 100px;
  margin-bottom: 0.6%;
}

.calc-button{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  width: 24.5%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  background-color: #d8d9db;
  cursor: pointer;
}

.calc-button:hover{
  background-color: #eee;
}

.calc-button:active{
  background-color: #bbbcbe;
}

.calc-button:last-child{
  background-color: #df974c;
  color: white;
}

.calc-button:last-child:hover{
  background-color: #dfb07e;
}

.calc-button:last-child:active{
  background-color: #dd8d37;
}

.double{
  width: 49.65%;
}

.triple{
  width: 75%;
}

